//- 
  options.aboutCompany
  options.header1
  options.menu1 [{name}]
  options.header2
  options.menu2 [{name}]
  options.header3
  options.menu3 [{name}]
  options.subsribeHeader
  options.subsribeText
  options.placeholder
  options.copyright
  Шаблон:
  
  +footer-nav({ 
    aboutCompany:"Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
    header1: "Навигация",
    menu1: [
      {name: "О нас"},
      {name: "Новости"},
      {name: "Служба поддержки"},
      {name: "Услуги"}
    ],
    header2: "О нас",
    menu2: [
      {name: "О сервисе"},
      {name: "Наша команда"},
      {name: "Вакансии"},
      {name: "Инвесторы"}
    ],
    header3: "Служба поддержки",
    menu3: [
      {name: "Соглашения"},
      {name: "Сообщества"},
      {name: "Связь с нами"}
    ],
    subsribeHeader: "Подписка",
    subsribeText: "Получайте специальные предложения и новости сервиса",
    placeholder: "Email",
    copyright: "Copyright © 2018 Toxin отель. Все права защищены."
  })
mixin footer-nav(options)
  .footer-nav
    .footer-nav__inner
      .footer-nav__info
        .footer-nav__logo
          include img/logo-toxin.svg
        p.footer-nav__about-company= options.aboutCompany
      .footer-nav__menu-nav
        .footer-nav__navigation
          h3.footer-nav__chapters= options.header1
          each chapter in options.menu1
            p.footer-nav__chapter 
              a.footer-nav__link(href="#")= chapter.name
        .footer-nav__about
          h3.footer-nav__chapters= options.header2
          each chapter in options.menu2
            p.footer-nav__chapter 
              a.footer-nav__link(href="#")= chapter.name
        .footer-nav__support
          h3.footer-nav__chapters= options.header3
          each chapter in options.menu3
            p.footer-nav__chapter 
              a.footer-nav__link(href="#")= chapter.name
      .footer-nav__subscribe
        h3.footer-nav__subsribe-header= options.subsribeHeader
        p.footer-nav__subsribe-text= options.subsribeText
        +subscription-text-field(options.placeholder)
  .footer-nav__line
  .footer-nav__copyright-bar.copyright-bar
    .copyright-bar__inner
      p.copyright-bar__copyright= options.copyright
      .copyright-bar__social
          a.copyright-bar__link.copyright-bar__link--twitter(href="#")
          a.copyright-bar__link.copyright-bar__link--facebook(href="#")
          a.copyright-bar__link.copyright-bar__link--instagram(href="#")