//- options: number, lux, dayCost, dateDropdownIdFirst, dateDropdownIdSecond, {services}, {info}, {costs}, result
mixin reservation(options)
  form.reservation
    .reservation__inner 
    
      .reservation__header
        .reservation__room
          h1.reservation__number-sign №
          h1.reservation__number= options.number
          if (options.lux == true)
            h3.reservation__lux Люкс
        .reservation__cost
          h3= options.dayCost
          p в сутки

      .reservation__dates
        .reservation__dates-headers
          h3.reservation__dates-header Прибытие
          h3.reservation__dates-header Выезд
        +date-dropdown(options.dateDropdownIdFirst,options.dateDropdownIdSecond)

      .reservation__guests
        h3.reservation__guests-header Гости
        +dropdown("guests")

      .reservation__cost-list
        .reservation__cost-list-wrapper
          .reservation__services
            each services in options.services
              .reservation__service
                p.reservation__service-name= services.name
                if (services.info)
                  p.reservation__service-info i
                else 
                  p.reservation__service-info.reservation__service-info--false i
                p.reservation__service-cost= services.cost
        //-
          .reservation__services-name
            each service in options.services
              p.reservation__service-name= service
          .reservation__services-info
            each info in options.info
              (info == true)
                p.reservation__service-info i
              else 
                p.reservation__service-info.reservation__service-info--false i
          .reservation__services-cost
            each cost in options.costs
              p.reservation__service-cost= cost

      .reservation__cost-result
        h2 Итого
        .reservation__dashed
        h2= options.result

      .reservation__button
        +btn("arrow", "Забронировать")